# Selecting Rows and Columns in pandas

### 1. Reading Data
We first import `pandas` and load a table into a DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('population.csv', index_col=0)

### 2. Attributes and Methods

`.shape` is an *attribute*. It can be used with any dataset using a dot. It shows the number of rows and columns in a DataFrame as a Python *tuple*:

In [ ]:
df.shape

`.head()` is a *method*. It can be called on any DataFrame object by the dot, followed by parentheses.
It returns the first N rows of the DataFrame.

In [ ]:
df.head(3)

### 3. Selecting Rows and Columns
Match the Python commands with the descriptions below.

* remove rows with missing values
* select a single row
* inspect column labels
* select multiple columns
* select rows by position
* select rows that match a condition
* select multiple rows
* select a single column
* select values in a given range
* select rows and columns by position
* inspect row labels
* select rows and columns

Create new Markdown cells in the notebook to have a heading for each command.

In [ ]:
# inspect row labels
df.index

In [ ]:
# inspect column labels
df.columns

In [ ]:
# select a single column
df['2015']

In [ ]:
# select multiple columns
df[['1900', '1950', '2000']]

In [ ]:
# select a single row
df.loc['Estonia']

In [ ]:
df.loc[['Japan', 'China']]

In [ ]:
df.loc['Croatia', '2000']

In [ ]:
# select rows by position
df.iloc[10:15]

In [ ]:
df.iloc[10:15, 75:]

In [30]:
# select rows that match a condition
df.loc[df['2000'] > 200_000_000]

,1800,1810,1820,1830,1840,1850,1860,1870,1880,1890,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total population,,,,,,,,,,,,,,,,,,,,,
China,321675013.0,350542958.0,380055273.0,402373519.0,411213424.0,402711280.0,380047548.0,363661158.0,365544192.0,377135349.0,...,1.312601e+09,1.319625e+09,1.326691e+09,1.333807e+09,1.340969e+09,1.348174e+09,1.355387e+09,1.362514e+09,1.369436e+09,1.376049e+09
India,168574895.0,171940819.0,176225709.0,182214537.0,189298397.0,196657653.0,204966302.0,213725049.0,223020377.0,232819584.0,...,1.162088e+09,1.179686e+09,1.197070e+09,1.214182e+09,1.230985e+09,1.247446e+09,1.263590e+09,1.279499e+09,1.295292e+09,1.311051e+09
Indonesia,16108545.0,16537268.0,17236636.0,18460171.0,20052305.0,21979198.0,24209376.0,27062539.0,30212871.0,33747355.0,...,2.292640e+08,2.322968e+08,2.353608e+08,2.384652e+08,2.416131e+08,2.448083e+08,2.480379e+08,2.512683e+08,2.544548e+08,2.575638e+08
United States,6801854.0,8294928.0,10361646.0,13480460.0,17942443.0,24136293.0,31936643.0,40821569.0,51256498.0,63810074.0,...,2.988605e+08,3.016560e+08,3.044731e+08,3.072320e+08,3.098762e+08,3.123904e+08,3.147995e+08,3.171359e+08,3.194486e+08,3.217736e+08
USSR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.872665e+08,2.873308e+08,2.874474e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[df['2000'].between(500_000, 1_000_000)]

In [ ]:
# remove rows with missing values
df.dropna()

## License
(c) 2017 Kristian Rother.
Distributed under the conditions of the MIT License.